// Стили для контейнера с иконкой ( без цвета )
.icon-style {
	padding: 10px;
	border-radius: 15px;
	@media (max-width: 768px){
		padding: 1.953vw;
		border-radius: 10px;
	}
}

.block-title {
	text-align: center;
	font-family: $titleFont;
	font-size: 45px;
	line-height: 110%;
	color: $titleColor;
	@media (max-width: 1100px){
		font-size: 4.091vw;
	}
	@media (max-width: 600px){
		font-size: 24px;
	}
}

.block-subtitle {
	width: 100%;
	text-align: center;
	font-size: 22px;
	line-height: 120%;
	color: #000;
	@media (max-width: 1100px){
		font-size: 20px;
		line-height: 130%;
	}
	@media (max-width: 768px){
		font-size: 18px;
		line-height: 120%;
		max-width: 100%;
	}
}

// Заголовок всех страниц кроме главной
.second-page-title {
	text-align: left;
	font-family: $titleFont;
	font-size: 45px;
	line-height: 110%;
	color: $titleColor;
	@media (max-width: 1100px){
		font-size: 4.091vw;
	}
	@media (max-width: 600px){
		font-size: 24px;
	}
}

// Карточка фильтров / кнопка выбора категории на всех второстепенных страницах
.second-page-card {
	display: flex;
	align-items: center;
	gap: 20px;
	padding: 20px 25px;
	font-size: 20px;
	border: 1px solid #ffffff52;
	border-radius: 15px;
	background: linear-gradient(to bottom right, rgba(224, 212, 249, 0.3), rgba(228, 226, 254, 0.3), rgba(254, 255, 255, 0.538));
	transition: all 0.3s ease 0s;
	text-align: left;
	&:hover {
		transition: all 0.3s ease 0s;
		background-color: #ffffff46;
		border: 1px solid #7c02ffd9;
	}
	@media (max-width: 1100px){
		padding: 1.818vw 2.273vw;
		gap: 15px;
	}
	@media (max-width: 768px){
		padding: 15px 25px;
		font-size: 18px;
	}
	@media (max-width: 600px){
		padding: 15px 15px;
		gap: 10px;
		font-size: 16px;
	}
	@media (max-width: 450px){
		flex-direction: column;
		text-align: center;
	}
	& img {
		max-width: 50px;
		border-radius: 10px;
		@media (max-width: 1200px){
			max-width: 45px;
		}
		@media (max-width: 768px){
			max-width: 40px;
		}
	}
}

// Вторичная карточка фильтра
.second-page-small-card {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 10px 15px;
	font-size: 17px;
	border: 1px solid #ffffff52;
	border-radius: 10px;
	background: linear-gradient(to bottom right, rgba(224, 212, 249, 0.504), rgba(228, 226, 254, 0.3), rgba(246, 253, 253, 0.643));
	transition: all 0.3s ease 0s;
	&:hover {
		transition: all 0.3s ease 0s;
		background-color: #ffffff46;
		border: 1px solid #7c02ffd9;
	}
	@media (max-width: 1100px){
		padding: 0.909vw 1.364vw;
	}
	@media (max-width: 768px){
		padding: 10px 10px;
	}
	@media (max-width: 600px){
		gap: 10px;
	}
	@media (max-width: 450px){
		flex-direction: column;
	}
	& img {
		max-width: 30px;
		border-radius: 7px;
		@media (max-width: 768px){
			max-width: 25px;
		}
	}
}

.container-padding {
	padding: 0px 15px;
}