@import "../includes";

.header {
	padding: 5px 15px;
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 5px 0;
	}
	&__logo {
		height: 100%;
		display: flex;
		align-items: center;
		gap: 5px;
		& img {
			width: 40px;
			height: auto;
			filter: invert(6%) sepia(98%) saturate(7497%) hue-rotate(265deg) brightness(65%) contrast(98%);
			@media (max-width: 1100px){
				width: 35px;
			}
			@media (max-width: 768px){
				width: 3.906vw;
			}
			@media (max-width: 500px){
				width: 24px;
			}
		}
		& div {
			font-family: $titleFont;
			font-size: 35px;
			font-weight: 600;
			color: rgb(31, 4, 95);
			@media (max-width: 1100px){
				font-size: 30px;
			}
			@media (max-width: 768px){
				font-size: 3.255vw;
			}
			@media (max-width: 500px){
				font-size: 20px;
			}
		}
	}
	&__navigation {
	}
	&__right-block {
	}
}

.navigation {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	@media (max-width: 1000px){
		display: none;
	}
	&__list {
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		gap: 35px;
		flex-wrap: wrap;
		@media (max-width: 1100px){
			gap: 20px;
		}
	}
	&__item {

		font-size: 20px;
		@media (max-width: 1100px){
			font-size: 18px;
		}
		&:hover {
			color: $firstColor;
			cursor: pointer;
			text-decoration: underline;
		}
	}
}

.side-block {
	display: flex;
	gap: 25px;
	@media (max-width: 600px){
		display: none;
	}
	&__search {
		display: flex;
	}
	&__language {
		display: flex;
	}
}
.search-item {
	padding: 6px 15px;
	//border: 1px solid #4400ff;
	border-radius: 20px;
	background-color: #ffffff95;
		@media (max-width: 1100px){
			max-width: 150px;
		}
	&__button {
		display: flex;
		align-items: center;
		padding-right: 10px;
	}
	&__icon {
		filter: invert(65%) sepia(39%) saturate(0%) hue-rotate(279deg) brightness(88%) contrast(85%);
		width: 15px;
		height: 15px;
	}
	&__input {
	}
}
.lang-buttons {
	display: flex;
	gap: 15px;
	color: #6b6b6b;
	&__item {
		&:hover {
			cursor: pointer;
			color: $firstColor;
		}
	}
}

.active-lang {
	font-weight: 700;
	color: $firstColor;
}


// ----------------------------------------------------------- Блок 1 - стартовый
.start {
	height: 90vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	@media (max-width: 768px){
		height: 100vh;
	}
	&__container {
		padding: 0px 15px 0px 15px;
		height: 100%;
		max-width: 80%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		@media (max-width: 768px){
			max-width: 90%;
		}
	}
	&__title {
		text-align: center;
		font-family: $titleFont;
		font-size: 65px;
		line-height: 90%;
		color: $titleColor;
		@media (max-width: 1100px){
			font-size: 5.909vw;
		}
		@media (max-width: 500px){
			font-size: 30px;
		}
	}
	&__subtitle {
		text-align: center;
		font-size: 22px;
		line-height: 140%;
		max-width: 90%;
		color: $subtitleColor;
		@media (max-width: 1100px){
			font-size: 20px;
			line-height: 130%;
		}
		@media (max-width: 768px){
			font-size: 18px;
			line-height: 120%;
			max-width: 100%;
		}
	}
	&__scroll-button {
		margin-top: 50px;
		padding: 15px 40px;
		border-radius: 15px;
		background: $firstColor;
		border: 0px solid transparent;
		font-size: 22px;
		color: #FFFFFF;
		font-weight: 300;
		transition: all 0.2s ease 0s;
		@media (max-width: 1200px){
			margin-top: 4.167vw;
		}
		@media (max-width: 768px){
			width: 100%;
			font-size: 18px;
			padding: 15px 20px;
			user-select: none; /* Standard syntax */
			-webkit-user-select: none; /* Safari */
			-moz-user-select: none; /* Firefox */
			-ms-user-select: none; /* Internet Explorer/Edge */
			-webkit-tap-highlight-color: transparent;
		}
		&:hover {
			transition: all 0.2s ease 0s;
			cursor: pointer;
			background: $secondColor;
		}
	}
}

// ----------------------------------------------------------- Блок 2 - направления
.directions {
	width: 100%;
	position: relative;
	&__container {
		padding: 100px 15px 100px 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
		@media (max-width: 1100px){
			padding: 9.091vw 15px 9.091vw 15px;
			gap: 2.727vw;
		}
	}
	&__title {
	}
	&__items {
		max-width: 1200px;
		padding: 0px 15px 0px 15px;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		@media (max-width: 992px){
			grid-template-columns: 1fr;
		}
	}
	&__item {
		padding: 50px 30px;
		display: flex;
		justify-content: center;
		align-items: start;
		gap: 30px;
		@media (max-width: 1100px){
			padding: 4.545vw 15px;
			gap: 2.727vw;
		}
		@media (max-width: 768px){
			gap: 15px;
		}
	}
	&__item-image-wrapper {
		display: flex;
		flex-direction: column;
		gap: 15px;
		& img {
			width: 30px;
			height: auto;
			@media (max-width: 768px){
				width: 25px;
			}
			@media (max-width: 600px){
				width: 20px;
			}
		}
	}
	&__item-icon-one {
		opacity: 0.8;
		background: linear-gradient(132deg, rgb(208, 255, 206) 0%, rgb(120, 229, 163) 100%);
		border: 2px solid rgb(159, 210, 187);
		& img {
			filter: invert(39%) sepia(85%) saturate(2055%) hue-rotate(117deg) brightness(98%) contrast(101%);
		}
	}
	&__item-icon-two {
		opacity: 0.8;
		background: linear-gradient(132deg, rgb(187, 242, 255) 0%, rgba(114, 189, 227, 0.836) 100%);
		border: 2px solid rgb(153, 199, 218);
		& img {
			filter: invert(39%) sepia(98%) saturate(2547%) hue-rotate(171deg) brightness(98%) contrast(101%);
		}
	}
	&__item-icon-three {
		opacity: 0.8;
		background: linear-gradient(132deg, rgba(210, 176, 252, 0.878) 0%, rgb(164, 127, 219) 100%);
		border: 2px solid rgb(168, 133, 224);
		& img {
			filter: invert(13%) sepia(97%) saturate(5254%) hue-rotate(273deg) brightness(73%) contrast(121%);
		}
	}
	&__item-icon-four {
		opacity: 0.8;
		background: linear-gradient(132deg, rgba(254, 247, 180, 0.878) 0%, rgb(236, 186, 115) 100%);
		border: 2px solid rgb(228, 208, 90);
		& img {
			filter: invert(64%) sepia(25%) saturate(3617%) hue-rotate(13deg) brightness(88%) contrast(102%);
		}
	}
	&__item-text-wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 15px;
		@media (max-width: 768px){
			gap: 1.953vw;
		}
	}
	&__item-title {
		text-align: left;
		font-family: $titleFont;
		font-size: 30px;
		line-height: 90%;
		font-weight: 700;
		&:hover {
			text-decoration: underline;
		}
		@media (max-width: 768px){
			font-size: 24px;
			user-select: none; /* Standard syntax */
			-webkit-user-select: none; /* Safari */
			-moz-user-select: none; /* Firefox */
			-ms-user-select: none; /* Internet Explorer/Edge */
			-webkit-tap-highlight-color: transparent;
		}
		@media (max-width: 600px){
			font-size: 22px;
		}
		@media (max-width: 500px){
			font-size: 20px;
		}
	}
	&__item-description {
		font-size: 22px;
		line-height: 130%;
		color: $subtitleColor;
		@media (max-width: 1100px){
			font-size: 18px;
			line-height: 130%;
		}
		@media (max-width: 768px){
			font-size: 16px;
			line-height: 120%;
			max-width: 100%;
		}
	}
}

// -----------------------------------------------------------  Блок 3 - сервисы
.services {
	position: relative;
	&__bg-image {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: -2;
		object-fit: cover;
	}
	&__dark-bg {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: #25037491;
		z-index: -2;
	}
	&__container {
		padding: 110px 30px 150px 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 45px;
		@media (max-width: 1100px){
			gap: 4.091vw;
			padding: 10vw 30px 13.636vw 30px;
		}
	}
	&__title {
		text-align: center;
		font-family: $titleFont;
		font-size: 45px;
		line-height: 110%;
		color: #FFFFFF;
		@media (max-width: 1100px){
			font-size: 4.091vw;
		}
		@media (max-width: 600px){
			font-size: 24px;
		}
	}
	&__description {
		width: 100%;
		text-align: center;
		font-size: 22px;
		line-height: 120%;
		color: #FFFFFF;
		@media (max-width: 1100px){
			font-size: 18px;
			line-height: 130%;
		}
		@media (max-width: 768px){
			font-size: 16px;
			line-height: 120%;
			max-width: 100%;
		}
	}
	&__items {
		max-width: 1200px;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 40px;
		margin-top: 30px;
		@media (max-width: 1200px){
			gap: 3.333vw;
		}
		@media (max-width: 1100px){
			grid-template-columns: 1fr 1fr 1fr;
			margin-top: 2.727vw;
		}
		@media (max-width: 768px){
			grid-template-columns: 1fr 1fr;
		}
	}
	&__item {
		display: flex;
		align-items: center;
		gap: 20px;
		padding: 20px 25px;
		color: #FFFFFF;
		font-size: 20px;
		border: 1px solid #ffffff3e;
		border-radius: 15px;
		background: linear-gradient(to bottom right, rgb(255 255 255 / .075), rgb(255 255 255 / .075), rgb(255 255 255 / .2));
		//background-color: #ffffff1c;
		transition: all 0.3s ease 0s;
		&:hover {
			transition: all 0.3s ease 0s;
			background-color: #ffffff46;
			@media (max-width: 768px){
				background-color: inherit;
			}
		}
		@media (max-width: 1100px){
			padding: 1.818vw 2.273vw;
		}
		@media (max-width: 768px){
			padding: 15px 25px;
			user-select: none; /* Standard syntax */
			-webkit-user-select: none; /* Safari */
			-moz-user-select: none; /* Firefox */
			-ms-user-select: none; /* Internet Explorer/Edge */
			-webkit-tap-highlight-color: transparent;
		}
		@media (max-width: 600px){
			padding: 15px 15px;
			flex-direction: column;
			gap: 10px;
		}
	}
	&__item-image-container {
	}
	&__item-image {
		max-width: 50px;
		border-radius: 10px;
		@media (max-width: 768px){
			max-width: 45px;
		}
	}
	&__item-title {
		@media (max-width: 600px){
			font-size: 16px;
		}
	}
}

// ----------------------------------------------------------- Блок 4 - базовые приложения
.basics {
	&__container {
		padding: 110px 15px 150px 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		@media (max-width: 1100px){
			padding: 10vw 30px 13.636vw 30px;
		}
	}
	&__title {
	}
	&__subtitle {
	}
	&__items {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 60px;
		margin-top: 40px;
		@media (max-width: 1100px){
			gap: 4vw;
			margin-top: 3.636vw;
		}
		@media (max-width: 768px){
			grid-template-columns: 1fr;
			gap: 40px;
			margin-top: 20px;
		}
		@media (max-width: 500px){
			width: 100%;
			gap: 20px;
			margin-top: 15px;
		}
	}
	&__item {
		font-size: 20px;
		display: flex;
		align-items: center;
		gap: 20px;
		padding: 20px 25px;
		border-radius: 15px;
		transition: all 0.3s ease 0s;
		box-shadow: 0px 42px 105px -14px rgba(103,0,199,0.40);
		-webkit-box-shadow: 0px 42px 105px -14px rgba(103,0,199,0.40);
		-moz-box-shadow: 0px 42px 105px -14px rgba(103,0,199,0.40);
		&:hover {
			transition: all 0.3s ease 0s;
			box-shadow: 0px 52px 135px -14px rgba(103,0,199,0.80);
			-webkit-box-shadow: 0px 52px 135px -14px rgba(103,0,199,0.80);
			-moz-box-shadow: 0px 52px 135px -14px rgba(103,0,199,0.80);
			@media (max-width: 768px){
				box-shadow: 0px 42px 105px -14px rgba(103,0,199,0.40);
				-webkit-box-shadow: 0px 42px 105px -14px rgba(103,0,199,0.40);
				-moz-box-shadow: 0px 42px 105px -14px rgba(103,0,199,0.40);
			}
		}
		@media (max-width: 768px){
			font-size: 18px;
			padding: 15px 20px;
			box-shadow: 0px 12px 75px -14px rgba(103,0,199,0.40);
			-webkit-box-shadow: 0px 12px 75px -14px rgba(103,0,199,0.40);
			-moz-box-shadow: 0px 12px 75px -14px rgba(103,0,199,0.40);
			user-select: none; /* Standard syntax */
			-webkit-user-select: none; /* Safari */
			-moz-user-select: none; /* Firefox */
			-ms-user-select: none; /* Internet Explorer/Edge */
			-webkit-tap-highlight-color: transparent;
		}
	}
	&__item-image-container {
	}
	&__item-image {
		max-width: 50px;
		border-radius: 10px;
		@media (max-width: 768px){
			max-width: 40px;
			border-radius: 7px;
		}
	}
	&__item-title {
	}
	&__item-subtitle {
	}
}

// ----------------------------------------------------------- Футер
.footer {
	position: relative;
	overflow: hidden;
	&__bg-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -2;
		object-fit: cover;
	}
	&__bg-dark {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background-color: #3e1176cf;
	}
	&__container {
		padding: 70px 25px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: start;
		gap: 50px;
		color: #FFFFFF;
		@media (max-width: 1200px){
			gap: 4.167vw;
		}
		@media (max-width: 600px){
			gap: 30px;
			padding: 50px 15px;
		}
	}
	&__content {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: start;
		gap: 30px;
		@media (max-width: 1200px){
			flex-direction: column;
			align-items: center;
		}
	}
	&__logo-container {
		display: flex;
		align-items: center;
		gap: 5px;
	}
	&__logo {
		width: 40px;
		filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(101deg) brightness(95%) contrast(107%);
		@media (max-width: 1200px){
			width: 30px;
		}
		@media (max-width: 768px){
			width: 23px;
		}
	}
	&__logo-text {
		font-family: $titleFont;
		font-size: 34px;
		font-weight: 600;
		@media (max-width: 1200px){
			font-size: 27px;
		}
		@media (max-width: 768px){
			font-size: 22px;
		}
	}
	&__navigation {
	}
	&__politics {
		text-align: center;
	}
}
.footer-nav {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 30px;
	@media (max-width: 992px){
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
	@media (max-width: 600px){
		grid-template-columns: 1fr 1fr;
	}
	@media (max-width: 450px){
		grid-template-columns: 1fr;
	}
	&__item {
		display: flex;
		flex-direction: column;
		gap: 20px;
		@media (max-width: 992px){
			align-items: center;
			gap: 10px;
		}
		@media (max-width: 768-x){
			gap: 6px;
		}
	}
	&__item-title {
		font-size: 20px;
		font-weight: 500;
		@media (max-width: 768px){
			font-size: 18px;
		}
	}
	&__item-links {
		display: flex;
		flex-direction: column;
		gap: 10px;
		@media (max-width: 992px){
			gap: 5px;
		}
		@media (max-width: 768px){
			gap: 3px;
		}
	}
	&__item-link {
		font-size: 18px;
		&:hover {
			text-decoration: underline;
		}
		@media (max-width: 992px){
			text-align: center;
		}
		@media (max-width:	768px){
			font-size: 16px;
		}
	}
}
